<!-- FOOTER-1
			============================================= -->
			<footer id="footer-1" class="wide-50 footer division">
				<div class="container">


					<!-- FOOTER CONTENT -->
					<div class="row">


						<!-- FOOTER INFO -->
						<div class="col-xl-4">
							<div class="footer-info mb-40">

								<!-- Footer Logo -->	
								<!-- For Retina Ready displays take a image, with double the amount of pixels that your image will be displayed (e.g 330 x 80 pixels) -->
								<img src="{{ site.url }}/images/footer-logo.png" width="210" height="40" alt="footer-logo">
								
								<!-- Text -->	
								<p class="mt-20"> --
								</p>

							</div>	
						</div>


						<!-- FOOTER LINKS -->
						<div class="col-md-3 col-xl-2">
							<div class="footer-links">

								<!-- Footer Links -->
								<ul class="foo-links clearfix">
									<li><p><a href="privacy">Privacy Policy</a></p></li>
								</ul>							

							</div>	
						</div>


						<!-- FOOTER LINKS -->
						<div class="col-md-3 col-xl-2">
							<div class="footer-links">

								<!-- Footer Links -->
								<ul class="foo-links clearfix">						
								    <li><p><a href="#">Contact Us</a></p></li>
								</ul>						

							</div>	
						</div>


						<!-- FOOTER LINKS -->
						<div class="col-md-3 col-xl-2">
							<div class="footer-links">

								<!-- Footer Links -->
								<ul class="foo-links clearfix">									
									<li><p><a href="https://facebook.com/bikegpsapp" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></p></li>							
                                    <li><p><a href="https://instagram.com/bikegpsapp" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></p></li>
                                    <li><p><a href="https://twitter.com/bikegpsapp" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></p></li>
								</ul>

							</div>	
						</div>


						<!-- FOOTER STORE BADGES -->
						<div class="col-md-3 col-xl-2">													
							<div class="footer-stores-badge text-right mb-40">

								<!-- AppStore -->
								<a href="https://itunes.apple.com/app/id/{{ site.appstoreid }}" class="store">
									<img class="appstore-original" src="{{ site.url }}/images/store_badges/appstore.png" alt="appstore-logo" />
								</a>				
							</div>
						</div>	<!-- END FOOTER STORE BADGES -->

					
					</div>	 <!-- END FOOTER CONTENT -->

					
					<!-- BOTTOM FOOTER -->
					<div class="bottom-footer">
						<div class="row">

							<!-- FOOTER COPYRIGHT -->
							<div class="col-md-12">
								<div class="footer-copyright">
									<p class="p-sm">&copy; 2019 Robert Göncz. All Rights Reserved</p>
								</div>
							</div>

						</div>
					</div>	<!-- END BOTTOM FOOTER -->


				</div>	    <!-- End container -->
			</footer>	<!-- END FOOTER-1 -->

</div>	<!-- END PAGE CONTENT -->

<!-- EXTERNAL SCRIPTS
============================================= -->	
<script src="{{ site.url }}/js/jquery-3.3.1.min.js"></script>
<script src="{{ site.url }}/js/bootstrap.min.js"></script>	
<script src="{{ site.url }}/js/fontawesome.min.js"></script>	
<script src="{{ site.url }}/js/modernizr.custom.js"></script>
<script src="{{ site.url }}/js/jquery.easing.js"></script>
<script src="{{ site.url }}/js/retina.js"></script>	
<script src="{{ site.url }}/js/jquery.appear.js"></script>
<script src="{{ site.url }}/js/jquery.stellar.min.js"></script>	
<script src="{{ site.url }}/js/jquery.scrollto.js"></script>		
<script src="{{ site.url }}/js/imagesloaded.pkgd.min.js"></script>
<script src="{{ site.url }}/js/isotope.pkgd.min.js"></script>
<script src="{{ site.url }}/js/slick.min.js"></script>
<script src="{{ site.url }}/js/owl.carousel.min.js"></script>
<script src="{{ site.url }}/js/jquery.magnific-popup.min.js"></script>
<script src="{{ site.url }}/js/contact-form.js"></script>
<script src="{{ site.url }}/js/quick-form.js"></script>
<script src="{{ site.url }}/js/comment-form.js"></script>
<script src="{{ site.url }}/js/jquery.validate.min.js"></script>
<script src="{{ site.url }}/js/jquery.ajaxchimp.min.js"></script>
<script src="{{ site.url }}/js/wow.js"></script>		
        
<!-- Custom Script -->		
<script src="{{ site.url }}/js/custom.js"></script>	

<script>
    new WOW().init();
</script>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!-- [if lt IE 9]>
    <script src="{{ site.url }}/js/html5shiv.js" type="text/javascript"></script>
    <script src="{{ site.url }}/js/respond.min.js" type="text/javascript"></script>
<![endif] -->

<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-136831308-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
