<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="Robert Göncz"/>	
    <meta name="description" content="Bike GPS - Ride tracker"/>
    <meta name="keywords" content="bike gps, bike navigation">	
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="apple-itunes-app" content="app-id={{ site.appstoreid }}"/>
            
      <!-- SITE TITLE -->
    <title>Bike GPS - Ride tracker</title>
                        
    <!-- FAVICON AND TOUCH ICONS  -->
    <link rel="shortcut icon" href="{{ site.url }}/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.url }}/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" href="{{ site.url }}/images/apple-touch-icon.png">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet"> 	
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700,900" rel="stylesheet"> 

    <!-- BOOTSTRAP CSS -->
    <link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet">
            
    <!-- FONT ICONS -->
    <link href="{{ site.url }}/css/fontawesome.min.css" rel="stylesheet">			
    <link href="{{ site.url }}/css/flaticon.css" rel="stylesheet">

    <!-- PLUGINS STYLESHEET -->
    <link href="{{ site.url }}/css/magnific-popup.css" rel="stylesheet">	
    <link href="{{ site.url }}/css/owl.carousel.min.css" rel="stylesheet">
    <link href="{{ site.url }}/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="{{ site.url }}/css/slick.css" rel="stylesheet">
    <link href="{{ site.url }}/css/slick-theme.css" rel="stylesheet">

    <!-- On Scroll Animations -->
    <link href="{{ site.url }}/css/animate.css" rel="stylesheet">
            
    <!-- TEMPLATE CSS -->
    <link href="{{ site.url }}/css/spinner.css" rel="stylesheet">
    <link href="{{ site.url }}/css/style.css" rel="stylesheet">

    <!-- RESPONSIVE CSS -->
    <link href="{{ site.url }}/css/responsive.css" rel="stylesheet"> 
</head>

<body>
    <!-- PRELOADER SPINNER
    ============================================= -->		
    <div id="loader-wrapper">
        <div id="loader">
            <div class="cssload-spinner"></div>
        </div>
    </div>

    <!-- PAGE CONTENT
    ============================================= -->	
    <div id="page" class="page">

        <!-- HEADER
        ============================================= -->
        <header id="header" class="header">
            <nav class="navbar fixed-top navbar-expand-md hover-menu navbar-light bg-tra white-scroll">
                <div class="container">

                    <!-- LOGO IMAGE -->
                     <a href="/" class="navbar-brand logo-black"><img src="{{ site.url }}/images/logo.png" width="170" height="30" alt="header-logo"></a>
                     <a href="/" class="navbar-brand logo-white"><img src="{{ site.url }}/images/logo-white.png" width="170" height="30" alt="header-logo"></a>

                     <!-- Responsive Menu Button -->
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-bar-icon"><i class="fas fa-bars"></i></span>
                      </button>

                      <!-- Navigation Menu -->
                      <div id="navbarContent" class="collapse navbar-collapse">				  			
                           <ul class="navbar-nav ml-auto">

                            <li class="nav-item nl-simple"><a class="nav-link" href="/">Home</a></li>

                             <!-- Dropdown Link -->
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="DropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    About App
                                </a>

                                <!-- Dropdown Menu -->
                                   <ul class="dropdown-menu" aria-labelledby="DropdownMenu">
                                       <li><a class="dropdown-item" href="#">---</a></li>
                                </ul>
                            </li>

                             <li class="nav-item nl-simple"><a class="nav-link" href="privacy">Privacy Policy</a></li>

                            <!-- AppStore Badge -->
                            <li class="nav-item">
                                <a href="https://itunes.apple.com/app/id{{ site.appstoreid }}" target="_blank" class="header-store">
                                    <img class="appstore-header" src="{{ site.url }}/images/store_badges/appstore.png" alt="appstore-logo">
                                </a>
                            </li>
                          </ul>

                    </div>	<!-- End Navigation Menu -->


                </div>	  <!-- End container -->
            </nav>	   <!-- End navbar -->
        </header>	<!-- END HEADER -->